.section
  .container
    %p.text
      Welcome to Market...

.header
  .header__section
    .header__section__top
      .form
        = search_form_for @search, url: searches_path, class: 'serchbox' do |f|
          = f.search_field :name_cont, class: "form__text", id: "serch-box",placeholder: "何をお探しですか？"
          = button_tag type:'submit',class:'btn' do
            = icon('fas', 'search', class: 'icon')
      %ul.header-tools
        %li.tools-unit
          - if user_signed_in?
            = link_to "マイページ", "/users/#{current_user.id}", class: "tools-unit"
          - else
            = link_to "会員登録",new_user_registration_path, class: "tools-unit"
            = icon('fa', 'user-plus', class: 'icon')
            = link_to "ログイン", new_user_session_path, class: "tools-unit"
            = icon('fas', 'sign-in-alt', class: 'icon')
        %li.tools-unit-cart
          = link_to "#", class: "tools-unit-cart__btn" do
            = icon('fas', 'shopping-cart', class: 'icon')
    %h1.header__section__header-logo
      = link_to image_tag("headerlogo4.png", class: "image"), root_path
    %ul.header__section__bottom
      %li.unit
        = link_to "ホーム", root_path
      %li.unit
        = link_to "#" do
          商品ジャンル
          = icon('fas', 'angle-down', class: 'icon')
        %ul.product
          %li.product__link
            = link_to "#" do
              日用品
          %li.product__link
            = link_to "#" do
              野菜
          %li.product__link
            = link_to "#" do
              冷凍食品
          %li.product__link
            = link_to "#" do
              お菓子
      %li.unit
        = link_to "#" do
          お問合せ
  .header__picture
    .view
      %img.top-view

.main
  .contents
    .top-contents
      .title
        - if @search.present? 
          %h2.search-result-head
            - @search_products.each do |product|
              = product.name
              %span.search-result-head-text
                の検索結果
          .search-result-number
            ="1-#{@products.count}件表示"
        - else
          %h2.search-result-nil
            検索結果
          .search-result-number
            ="1-#{@products.count}件表示"
      .info
        -# = link_to "#", class:"link-blue" do
        -#   もっと見る
        -#   = icon('fa', 'angle-right', class: 'icon')
        .contents-products
          - @search_products.each do |product|
            .product
              - if @search_products
                = link_to searches_path(product.name) do
                  = image_tag ("#{product.images.first.image}"), size: "180x180"
              - else
                = link_to product_path(product.id) do
                  = image_tag ("#{product.images.first.image}"), size: "180x180"
              .price
                = "¥" + product.price.to_s
              .text
                = product.name
              .store
    .bottom-contrents

= render "products/footer"