.main
  .sidebar
    .menu
      %h2.menu__genre
        商品ジャンルから探す
      %ul.menu-lists
        %li.menu-lists__list
          =link_to "#" do
            日用品
            = icon('fa', 'angle-right', class: 'icon')
        %li.menu-lists__list
          =link_to "#" do
            野菜
            = icon('fa', 'angle-right', class: 'icon')
        %li.menu-lists__list
          =link_to "#" do
            冷凍食品
            = icon('fa', 'angle-right', class: 'icon')
        %li.menu-lists__list
          =link_to "#" do
            お菓子
            = icon('fa', 'angle-right', class: 'icon')
  .contents
    .top-contents
      %h2.title
        ALL
      .info
        = link_to "#", class:"link-blue" do
          もっと見る
          = icon('fa', 'angle-right', class: 'icon')
        .contents-products
          - for j in 1..5
            .product
              = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQBiT7cIEs4PmES-kohUq_tdM3WDJni-4WK6L1YkGRGI9-j2-de&usqp=CAU"
              .price
                ¥150
              .text
                野菜＆フルーツ100％
    .bottom-contrents